<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"intense/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	
<!-- wp:pattern {"slug":"intense/feature"} /-->

<!-- wp:pattern {"slug":"intense/about"} /-->

<!-- wp:pattern {"slug":"intense/team"} /-->

<!-- wp:pattern {"slug":"intense/testimonials"} /-->

<!-- wp:pattern {"slug":"intense/latest-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->